.card-body{
    padding-right: 10rem;
    padding-left: 10rem;
    height: "calc(100vh - 300px)";
    overflow-Y: "auto";
     position: "relative"
}
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
   
    .card-body{
        padding-right: 1rem;
        padding-left: 1rem;
    }
    }